{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2><i class='bx bx-list-ul'></i> Listado de Inventario</h2>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Almacén</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventario %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

